Flask==3.0.2
Werkzeug==3.0.1


Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.28
PyMySQL==1.1.0


Flask-Login==0.6.3


gunicorn==21.2.0
uvicorn==0.27.1


python-dotenv==1.0.1

# 数据处理
pandas==2.2.1
numpy==1.26.4 